{%  extends 'component/layout.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="/css/jquery-ui/jquery-ui.min.css">
{% endblock %}
{% block main %}
 <main role="main" class="container">
        {% include 'component/fil-ariane.html.twig' with data.filAriane %}
        <h3 class="text-justify titre1">Formulaire de changement de PDF du catalogue Stock</h3>
        {% if data.error is defined %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Erreur:</strong> {{ data.error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        <form class="container" method="POST" enctype="multipart/form-data">

     

             <div class="form-group">
                <label>Fichier PDF</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="fichierPDF" id="fichierPDF">
                    <label class="custom-file-label">Choisir un fichier ...</label>
                </div>
                <small id="intituleHelp" class="form-text text-muted "> 450 Mo max.</small>
                <span id="fileMaxSize" hidden>{{ data.fileMaxSize}}</span>
            </div>

            <button type="submit" class="btn btn-outline-primary"> <i class="fas fa-check-circle"></i> Remplacer</button>
            <a class="btn btn-outline-secondary float-right" href="{{ path_for('admin/catalogue-stock.index') }}" role="button"><i class="fas fa-arrow-left"></i> Retour</a>

        </form>
            <br>
    </main>
{% endblock %}
{% block javascript %}
    <script src="/js/ckeditor5/ckeditor.js"></script>
    <script src="/js/jquery-ui/jquery-ui.js"></script>
    <script src="/js/scripts/scripts.js"></script>
    <script>
        
        $('#fichierPDF').on('change',function(){
            var fileMaxSize = parseInt($("#fileMaxSize").text());
            
            var fileSize = this.files[0].size;
            
            if( fileMaxSize < fileSize ){
                alert("Le fichier dépasse la taille d'upload maximale du serveur. Contacez le service informatique pour uploader le fichier via FTP.");
                $(this).val('');
            }
            else{
                var fileName = $(this).val();//get the file name
                $(this).next('.custom-file-label').html(fileName);//replace the "Choose a file" label
            }
        })
    </script>

{% endblock %}
