{%  extends 'component/layout.html.twig' %}

{% block main %}
    <main role="main" class="container">

        {% include 'component/fil-ariane.html.twig' with data.filAriane %}

        {% if data.error is defined %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Erreur:</strong> {{ data.error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

        {% if data.success is defined %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Succès:</strong> {{ data.success }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

        <h3 class="text-justify titre1">Gestionnaire de fichier</h3>
        <br>
        <div class="input-group mb-3 input-append">
            <input type="text" class="form-control" placeholder="Chemin du fichier séléctionné" id="js-window-input">
            <div class="input-group-append">
                <button class="btn btn-outline-vert-jumo" type="button" id="js-window-button">Ouvrir le gestionnaire de fichiers</button>
            </div>
        </div>
        <br>
    </main>
{% endblock %}

{% block javascript %}
<script>
        $(function() {
            $('#js-window-button').on('click', function() {
                var opener = window.open("{{ path_for('admin/filemanager.show') }}", 'targetWindow',
                    'toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=800, height=800');

                function handlePostMessage(e) {
                    var data = e.originalEvent.data;
                    console.log('js-data', data);
                    if (data.source === 'richfilemanager') {
                        $('#js-window-input').val(data.preview_url);
                        opener.close();
                    }

                    // remove an event handler
                    $(window).off('message', handlePostMessage);
                }

                $(window).on('message', handlePostMessage);

            });
        });
</script>
{% endblock %}
