{%  extends 'component/layout.html.twig' %}

{% block main %}

    <main role="main" class="container">

    <p>contenu statique</p><br>

    <p>contenu dynamique:</p><br>
    {{ data.phrase }}

    <br>

    {{ data.dernier.intitule }}




    </main>


{% endblock %}
