{%  extends 'component/layout.html.twig' %}

{% block main %}

	<main role="main" class="container container-lp">


		<div class="row-links">
			<ul class="ul-links">
				{% for d in data.lienCateg %}
					<li class="li-categ">
						<h4 class="h4-links blanc-jumo">
							<a class="a-lp bleu-jumo" href="{{ d.url }}">{{ d.titre }}a</a>
						</h4>
						<ul class=" ul-jumo-links">
							{% for d2 in data.lienSousCateg %}
								{% if d2.idCategorie == d.id %}
									<li class="li-links">
										<a class="a-lp bleu-jumo" href="{{ d2.url }}">{{ d2.titre }}</a>
									</li>
								{% endif %}
							{% endfor %}
						</ul>
					</li>
				{% endfor %}
				<ul></div>
			</main>
		{% endblock %}
