{%  extends 'component/layout.html.twig' %}

{% block main %}

	<main role="main" class="container">
		{% include 'component/fil-ariane.html.twig' with data.filAriane %}

		<h3 class="titre1">{{ data.service.intitule }}</h3>
		<br>
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="media ">
						<div class="row">
							<div class="col-md-2 text-center">
								<img class="align-self-start img-fluid img-lp-service-jumo" src="{{ data.service.imageUrl }}" alt="image Service">
							</div>
							<div class="media-body col-md-10">
								<div class="">
									{{ data.service.contenuDecode | raw }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
