<!--
Ce fichier contient le modele a reprendre pour realiser une page.
Il faut faire un copier/coller de ce code puis le remplir.
-->
{%  extends 'component/layout.html.twig' %}

{% block main %}

    <main role="main" class="container">
        {% include 'component/fil-ariane.html.twig' %}
        <!-- Mettre ici le contenu de la page -->
    </main>
{% endblock %}